// Variables
$primary-color: #121e2c; 
$secondary-color: #1a2a37; 
$error-color: #ffa500; 
$text-color: #333; 
$background-color: #f2f2f2; 

// Mixins
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow; 
  -moz-box-shadow: $shadow; 
  box-shadow: $shadow; 
}

// Base styles
body {
  font-family: Arial, sans-serif; 
  background-color: $background-color; 
  margin: 0; 
  padding: 0; 
}

h1 {
  text-align: center; 
  font-size: 36px; 
  color: $primary-color; 
}

form {
  margin: 20px auto; 
  padding: 20px; 
  background-color: #fff; 
  border-radius: 10px; 
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1)); 
  max-width: 600px; 

  label {
    display: block; 
    margin-bottom: 10px; 
    font-weight: bold; 
    color: $text-color; 
  }

  input[type="text"],
  input[type="date"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.1)); 

    &:focus {
      outline: none; 
      @include box-shadow(0 0 5px rgba(0, 0, 0, 0.4)); 
    }
  }

  button[type="submit"] {
    background-color: $primary-color; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    &:hover {
      background-color: $secondary-color; 
    }
  }
}

// Loader styling
#loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%; 
  width: 120px; 
  height: 120px; 
  animation: spin 2s linear infinite; 
  margin: 50px auto 0; 
}

// Spin animation keyframes
@keyframes spin {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

// Error message styling
#error {
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1)); 
  margin: 20px auto; 
  padding: 20px; 
  background-color: $error-color; 
  color: black; 
  max-width: 600px; 
  animation: fade-in 0.5s; // Animation for error messages
}

// Fade-in animation for error messages
@keyframes fade-in {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

// Results container styling
#results {
  margin: 20px auto; 
  padding: 20px; 
  background-color: #fff; 
  border-radius: 10px; 
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1)); 
  max-width: 600px; 

  h2 {
    margin-top: 0; 
    font-size: 24px; 
    font-weight: bold; 
    color: $text-color; 
  }

  ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 

    li {
      margin-bottom: 10px; 
      font-size: 18px; 
      color: $text-color; 
    }
  }
}

// Image container styling
#imageContainer img {
  width: 100%; 
  height: auto; 
  border-radius: 10px; 
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1)); 
}

// Footer styling
footer {
  background-color: $primary-color; 
  color: #fff; 
  text-align: center; 
  padding: 20px 0; 
  margin-top: 40px; 
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1); 
  font-size: 14px; 

  a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    transition: color 0.3s ease; 

    &:hover {
      color: $error-color; 
    }
  }
}
